<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th><span class="glyphicon glyphicon-thumbs-up"></span></th>
            <th><span class="label label-danger">深夜</span></th>
            <th><span class="label label-info">日中</span></th>
            <th><span class="label label-success">夕方</span></th>
            <th><span class="label label-warning">夜</span></th>
          </tr>
        </thead>
        <tbody>
        <% @day_of_weeks.each do |day_of_week_id, day_of_week| %>
          <tr>
            <th><span class="badge"><%= day_of_week.name %></span></th>
            <% [:midnight, :daytime, :sunset, :night].each do |x| %>
              <%= render :partial => 'td', :locals => {:day_of_week => day_of_week, :slot => x} %>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
