<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Aniwatch2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="javascript:void 0;">Aniwatch</a>
      </div>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
